body {
  margin: 0;
  padding: 0;
}
#fotoMenu {
  margin-top: -2vh;
}
#toogle {
  display: none;
}
#abrirFecharMenu {
  display: none;
}
#imgUsuario {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#menu {
  display: flex;
  flex-direction: column;
  width: calc((98% + 380px) / 2 - 40%);
  height: 100%;
  margin-top: 0;
  background-color: var(--corPrimaria);
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  font-size: calc(14px + (22 - 14) * ((100vw - 400px) / (1920 - 400)));
  transition: 0.5s;
}
#mobile-menu {
  display: none;
}
#menu[open] {
  animation: slide-in 0.5s forwards;
}
#menu[closing] {
  animation: slide-out 0.5s forwards;
}
nav {
  overflow-y: auto;
  margin-bottom: 2rem;
}
nav ul {
  padding: 0;
  margin: 1rem;
}
nav ul li {
  margin-top: 1rem;
  list-style-type: none;
}
#scroll {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  width: 100%;
}
.navButton {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#logo {
  margin: 1rem;
  width: 15rem;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--roxoEscuro);
  height: 5.2rem;
  width: 100%;
  font-size: 13px;
}
#sair {
  color: var(--vermelhoMakeasy);
}
.redesSociais > a {
  display: inline-block;
  margin: 0 0.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 10%;
  background-color: var(--corPrimaria);
}
.redesSociais > a:hover {
  background-color: var(--azulMakeasy);
  transition: 0.3s;
  box-shadow: 0 0 0 1.2px var(--corPrimaria) inset;
}
#whatsapp {
  background-color: #25d366;
}
#whatsapp:hover {
  background-color: #128c7e;
  transition: 0.3s;
  box-shadow: 0 0 0 1.2px #25d366 inset;
}
.bi {
  margin-top: 25%;
}

@media (max-width: 768px) {
  #mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    background-color: var(--corPrimaria);
  }
  #menu {
    display: none;
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #abrirFecharMenu {
    display: block;
    margin: 1.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .notification {
    display: block;
    margin: 1.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #titleResponsive {
    color: white;
    font-size: 1.5rem;
  }
  #title {
    display: none;
  }
}
