@import '../styles/estiloPadrão.css';
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
}
body {
  background-color: var(--corPrimaria);
  font-family: "Open Sans";
}
.avisos{
  border-radius: 0.5rem;
  color: #ffffff;
  width: 20rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  display: none;
}
#alert{
  background-color: rgba(255, 66, 66, 0.514);
  border: rgba(255, 66, 66, 0.74) 1px solid;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#voltar {
  display: block;
  background-color: var(--corPrimaria);
  margin-left: 10px;
  border: none;
  color: var(--rosaMakeasy);
  font-weight: 700;
}

#logo {
  width: 30rem;
  margin-left: -7rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fieldsetLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 24rem;
  margin: 4.5rem auto 0.5rem;
  border: 0.17rem solid #ffffff;
  border-radius: 10px;
  padding: 10px;
}

#cadastro {
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

#tituloLogin {
  margin: 1rem auto 1rem;
  font-size: 2.7rem;
  font-weight: 700;
}

.inputLogin {
  width: 20rem;
  height: 1.2rem;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tituloInputLogin {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

#botaoSubmit {
  width: 11.5rem;
  height: 2.7rem;
  margin: 1.5rem auto 0rem;
  border-radius: 10px;
  border: none;
  background-color: var(--rosaMakeasy);
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#botaoSubmit:hover {
  background-color: var(--rosaMakeasyHover);
  transition: 0.5s;
}

#loginHref {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

#loginHref a {
  color: #001d5b;
  text-decoration: none;
  font-weight: 800;
}
#loginHref a:hover {
  color: #001122;
  transition: 0.5s;
}
@media (max-width: 768px) {
  #fieldsetLogin {
    width: 80%;
  }
  .inputLogin {
    width: 90%;
  }
  #logo {
    width: 70%;
    margin-left: 0.2rem;
  }
  header {
    margin-top: 0;
  }
  #voltar {
    width: 70%;
  }
  #span {
    display: none;
  }
}
