main {
    margin-left: calc((98% + 380px) / 2 - 40%);
    height: 100vh;
  }
  #fotoPerfil {
    width: 7rem;
    height: 7rem;
    margin: 1.2rem 1rem 0.6rem;
    border-radius: 50%;
  }
  #tela {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  #title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto 2rem;
    text-align: center;
    width: 90%;
  
  }
#voltar
{
  position: absolute;
}
#editFoto {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nome_aluno
{
  font-size: 20px;
}
#editInfos {
  display: flex;
  flex-direction: column;
}
#formInfos {
text-align: left;
}
#cont 
{

  display: flex;
  flex-direction: column;

}
#forminfos
{

  display: flex;
  flex-direction: row;

}