main{
    margin-left: calc((98% + 380px) / 2 - 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto 2rem;
}
#container{
    display: flex;
    width: 97%;
    height: 87%;
    background-color: var(--corSecundaria);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
#container > ul{
    margin-top: 1.5rem;
}
#alunos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 1rem 0;
}
.aluno{
    background-color: var(--corPrimaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 5 + 2rem);
    height: 22rem;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
}
.imgAluno{
    width: 9rem;
    height: 9rem;
    margin: 2rem auto 1rem;
    border-radius: 50%;
    border: 1px solid black;
}
#nomeAluno{
    font-size: calc(1.5rem + 20%);
    font-weight: 700;
    margin: 0.7rem;
}

#saibaMais{
    font-size: 1.3rem;
    margin: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
#saibaMais:hover{
    color: var(--corSecundaria);
    transition: 0.3s;

}
#adicionarAluno{
    width: 10rem;
    height: 2.5rem;
    position: fixed;
    bottom: 3rem;
    background-color: var(--verdeMakeasy);
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    cursor: pointer;
}

/* Firefox */
* {
  scrollbar-width: 1rem;
  scrollbar-color: var(--corPrimaria) var(--corSecundaria);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--corSecundaria);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--corPrimaria);
  border-radius: 20px;
}

@media (max-width: 768px){
    
    main{
        margin-left: 0;
        margin-top: 5rem;
        height: calc(100% - 5rem);
    }
    section{
        width: 10vw;
        height: calc(100% - 5rem);
    }
    .aluno{
        width:45%;
        height: 16rem;
        margin: 0.5rem;
    }
    #alunos{
        margin: 0.5rem auto;
    }
    #nomeAluno{
        font-size: 1.3rem;
        margin: 0.4rem;
    }
    #saibaMais{
        font-size: 1.1rem;
        margin: 0.5rem;
    }
    .imgAluno{
        width: 7rem;
        height: 7rem;
        margin: 1.2rem 1rem 0.6rem;
        border-radius: 50%;
    }
    #container{
        margin-top: 0;
        width: 100vw;
        height: calc(100vh - 5rem);
        border-radius: 0;
        box-shadow: none;
    }
    #container > *{
        margin: 0rem;
        width: 100%;
    }
    *::-webkit-scrollbar {
        width: 10px;
    }
    #adicionarAluno{
        width: 11rem;
        height: 3rem;
        font-size: 1.2rem;
        bottom: 1.5rem;
    }

}