main{
    margin-left: calc((98% + 380px) / 2 - 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
section{
    display: flex;
    width: 98%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto 2rem;
}
#container{
    display: flex;
    width: 95%;
    height: 87%;
    background-color: var(--corSecundaria);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#container > *{
    margin: 2rem;
    width: 100%;
}

/* IFRAME */

#iframe{
    color: white;
    display: flex;
    flex-direction: column;
}

#pesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#inputPesquisa{
    width: calc(90vw - 250px);
    height: 2rem;
    border: 1px solid black;
    border-radius: 8px;
    margin: 1rem;
    padding: 0 1rem;
    font-size: 1.3rem;
}
#professores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 1rem 0;
}
.professor{
    background-color: var(--corPrimaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% + 3rem);
    height: 22rem;
    margin: 1rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
}
.imgProfessor{
    width: 9rem;
    height: 9rem;
    margin: 2rem auto 1rem;
    border-radius: 50%;
}
#nomeProfessor{
    font-size: calc(1.5rem + 20%);
    font-weight: 700;
    margin: 0.7rem;
}

#saibaMais{
    font-size: 1.3rem;
    margin: 0.5rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
#saibaMais:hover{
    color: var(--corSecundaria);
    transition: 0.3s;

}

/* Firefox */
* {
  scrollbar-width: 1rem;
  scrollbar-color: var(--corPrimaria) var(--corSecundaria);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--corSecundaria);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--corPrimaria);
  border-radius: 20px;
}

@media (max-width: 1024px){
    body{
        height: 100vh;
        width: 100vw;
    }
    main{
        margin-left: 0;
    }
    section{
        width: 100%;
    }
    .professor{
        width: 33%;
    }
    #professores{
        margin-left: -2rem;
    }
}
@media (max-width: 768px){
    .professor{
        width:40%;
        margin: 0.5rem;
    }
    #professores{
        margin-left: -2rem;
    }
}