body{
    display:inline-block;
}
main{
    margin-left: 20rem;
}
section{
    display: flex;
    height: 100vh;
    width: calc(100vw - 20rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto 2rem;
}
#container{
    display: flex;
    width: 95%;
    height: 87%;
    background-color: var(--corSecundaria);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#container > *{
    margin: 2rem 4rem;
    width: 100%;
}

/* IFRAME */

#iframe{
    color: white;
    display: flex;
    flex-direction: column;
}

#pesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#inputPesquisa{
    width: calc(90vw - 250px);
    height: 2rem;
    border: none;
    margin: 1rem;
    padding: 0 1rem;
    font-size: 1.3rem;
}
#professores{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.professor{
    background-color: var(--corPrimaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 22rem;
    margin: 1rem 2rem;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.imgProfessor{
    width: 10rem;
    height: 10rem;
    margin: 2rem auto 1rem;
    border-radius: 50%;
}
#nomeProfessor{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}

#saibaMais{
    font-size: 1.25rem;
    margin: 1rem;
    font-weight: 700;
}

/* Works on Firefox */
* {
  scrollbar-width: 1rem;
  scrollbar-color: var(--corPrimaria) var(--corSecundaria);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--corSecundaria);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--corPrimaria);
  border-radius: 20px;
}