@import '../styles/estiloPadrão.css';
main {
  margin-left: calc((98% + 380px) / 2 - 40%);
  height: 100vh;
}
#tela {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
#fotoPerfil {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  object-fit: cover;
}
#editFoto {
  display: flex;
  align-items: center;
}
#labelInputFoto {
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
#imgLabelInput {
  width: 2.5rem;
  height: 2.5rem;
}
#imgLabelInput:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
#title {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem auto;
}
input[type="file"] {
  display: none;
}
#formInfos {
  margin-top: 2rem;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#editInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.divInputText {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#senhaInput::-webkit-input-placeholder {
  color: #000;
  font-size: 1.2rem;
}
.inputP {
  margin: 0;
  display: flex;
  align-items: center;
}
.inputText {
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  width: 50vw;
  border-radius: 8px;
  border: 2px solid #000;
}
.inputLock {
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  width: calc(50vw + 3.5rem);
  border-radius: 8px;
  border: 2px solid #000;
  background: #d9d9d9;
}
#descInput {
  height: 10rem;
  width: 40vw;
}
.tituloForm {
  margin: 0.5rem 0;
}
.editImg {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}
#show-hide{
  cursor: pointer;
}
#divDesc {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divBtn {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.btn {
  margin: 2rem;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
  transition: 0.5s;
}
#btnSalvar{
  background-color: var(--verdeMakeasy);
}
#btnExcluir{
  background-color: var(--vermelhoMakeasy);
}
#btnSalvar:hover {
  background-color: var(--verdeMakeasyHover);
}
#btnExcluir:hover {
  background-color: var(--vermelhoMakeasyHover);
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
    margin-top: 5rem;
  }
  #descInput {
    height: 10rem;
    width: 60vw;
  }
}
