:root {
  --corPrimaria: rgba(52, 56, 136, 1);
  --corSecundaria: rgba(91, 109, 208, 1);
  --roxoEscuro: rgba(0, 6, 40, 1);
  --rosaMakeasy: rgba(239, 29, 172, 1);
  --rosaMakeasyHover: rgb(255, 0, 128);
  --azulMakeasy: rgba(0, 29, 91, 1);
  --azulMakeasyHover: rgb(0, 36, 114);
  --verdeMakeasy: rgba(124, 218, 36, 1);
  --verdeMakeasyHover: rgb(143, 236, 56);
  --vermelhoMakeasy: rgba(224, 43, 32, 1);
  --vermelhoMakeasyHover: rgb(184, 48, 41);
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
  font-display: swap;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Firefox */
* {
  scrollbar-width: 1rem;
  scrollbar-color: var(--corPrimaria) var(--corSecundaria);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: var(--corSecundaria);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--corPrimaria);
  border-radius: 20px;
}
