#notificações{
    width: 70%;
    height: 80%;
    position: fixed;
    background-color: var(--corPrimaria);
    border: 3px solid #000;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow-y: scroll;
}	

#notificações::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
#notificações .notificação{
    height: 4rem;
    color: white;
    font-size: 20px;
    border: 1px solid #000;
    margin: 1rem;
    background-color: var(--corSecundaria);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#closeNotify{
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0.5rem;
}
#closeNotificar:hover{
    background-color: var(--corSecundaria);
}
.separaItens{
    font-size: 4rem;
    transform: translate(0, -10%);
    font-weight: 100;
    color: #000;
}
#apagarNotificações{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
