@import '../styles/estiloPadrão.css';
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--corPrimaria);
  color: #fff;
  padding: 0 2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--corSecundaria);
  color: var(--roxoEscuro);
  padding: 2rem;
  font-size: 2rem;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--corPrimaria);
  color: #fff;
  padding: 0 2rem;
}