#tela{
    margin-left: calc((98% + 380px) / 2 - 40%);
}
main {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#container{
    overflow-x: auto;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem auto 3rem;
}

#tabela {
    width: 70%;
    margin: 0 auto;
    height: 36rem;
    border-collapse: collapse;
    
}

#diasTitle{
    display: none;
}

th,
td {

    background-color: var(--corPrimaria);
    color: white;
    border: 3px solid black;
    min-width: 10rem;
}

#botoes {
    margin: 2rem auto;
}

#abrirMarcarAula {
    width: 12rem;
    height: 3rem;
    bottom: 3rem;
    background-color: var(--corPrimaria);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: auto 1rem;
    cursor: pointer;
}

#abrirDesmarcarAula {
    width: 12rem;
    height: 3rem;
    bottom: 3rem;
    background-color: var(--azulMakeasy);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: auto 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    #tela {
        margin: 5rem 0 0;
    }
    #container{
        margin-top: 2rem;
    }
    #tabela{
        width: 90%;
    }
    .diasTable{
        display: none;
    }
    #horarioTitle{
        width: 30%;
    }
    #diasTitle{
        display: table-cell;
    }
    td{
        display: block;
        text-align: justify;
        border: #000 2px solid;
        padding: 1rem;
    }
    td::before{
        text-transform: uppercase;
        margin-right: 1rem;
        font-weight: 700;
    }
    td:nth-of-type(1)::before{
        content: "Segunda:";
    }
    td:nth-of-type(2)::before{
        content: "Terça:";
    }
    td:nth-of-type(3)::before{
        content: "Quarta:";
    }
    td:nth-of-type(4)::before{
        content: "Quinta:";
    }
    td:nth-of-type(5)::before{
        content: "Sexta:";
    }
    td:nth-of-type(6)::before{
        content: "Sábado:";
    }
    td:nth-of-type(7)::before{
        content: "Domingo:";
    }

}

