#tela{
    margin-left: calc((98% + 380px) / 2 - 40%);
}
main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem auto 3rem;
}

#tabela {
    display: flex;
    width: calc();
    height: 36rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-collapse: collapse;
}

tr {
    height: calc();
}

th,
td {

    background-color: var(--corPrimaria);
    color: white;
    border: 3px solid black;
    min-width: 10rem;
}

#botoes {
    display: inline-block;
}

#abrirMarcarAula {
    width: 12rem;
    height: 3rem;
    bottom: 3rem;
    background-color: var(--corPrimaria);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: auto 1rem;
    cursor: pointer;
}

#abrirDesmarcarAula {
    width: 12rem;
    height: 3rem;
    bottom: 3rem;
    background-color: var(--azulMakeasy);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: auto 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    main {
        margin-top: 5rem;
    }
}

@media (max-width: 1024px) {

    #tela {
        width: auto;
    }
}