#tela{
    margin-left: calc((98% + 380px) / 2 - 40%);
    margin-bottom: 0;
}
main {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#container{
    overflow-x: auto;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem auto 3rem;
}

#tabela {
    width: 70%;
    margin: 0 auto;
    height: 36rem;
    border-collapse: collapse;
    
}


th,
td {

    background-color: var(--corPrimaria);
    color: white;
    border: 3px solid black;
    min-width: 10rem;
}

#botoes {
    margin-top: 2rem;
}

#abrirMarcarAula {
    width: 12rem;
    height: 3rem;
    bottom: 3rem;
    background-color: var(--corPrimaria);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: auto 1rem;
    cursor: pointer;
}

#abrirDesmarcarAula {
    width: 12rem;
    height: 3rem;
    bottom: 3rem;
    background-color: var(--azulMakeasy);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: auto 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    #tela {
        margin: 5rem 0 0;
    }
    #container{
        margin-top: 2rem;
    }
}

@media (max-width: 1024px) {


}